<div class="row">
  <div class="col-md-2">
    <%= render partial: "projects/sidebar" %>
  </div>

  <div class="col-md-6">
    <%= render partial: "projects/project_container" %>
  </div>

  <div class="col-md-4">
    <%= render partial: "projects/description_container" %>
  </div>
</div>
